In [4]:
# 1. Conditional Basics
# 1.1 Prompt the user for a day of the week, print out whether the day is Monday or not

dotw = input('What is the day of the week? ')
if dotw == 'Monday':
        print(dotw)
else:
    print('Not Monday')

What is the day of the week? Tuesday
Not Monday

In [6]:
# 1.2 Prompt the user for a day of the week, print out whether the day is a weekday
#or a weekend

dotw = input('What is the day of the week? ')
if dotw == 'Friday' or dotw == 'Saturday' or dotw == 'Sunday':
    print('Es fin de semana, quiero bailar')
else:
    print("Everybody's workin' for the weekend!")

What is the day of the week? Friday
Es fin de semana, quiero bailar

In [10]:
# 1.3 Calculate a weekly paycheck, accounting for overtime pay. 
# Create variables and make up values for: 
#     -The number of hours worked in one week
#     -The hourly rate


Hours = int(input('Total hours worked this week:'))
Hourly = 25
OTR = Hourly * 1.5
if Hours <= 40:
    TotalPay = Hourly * Hours
    print(f'Total Weekly Pay is :${TotalPay} ')
else:
    OTH = (Hours - 40) 
    OTP = OTH * OTR
    TotalPay = ((Hourly * 40) + OTP)
    print(f'Total Weekly Pay is :${TotalPay} ')
    # print(TotalPay + (OTH)*(OTR))

Total hours worked this week:47
Total Weekly Pay is :$1262.5

In [13]:
Hours = int(input('Total hours worked this week:'))
Hourly = 25
TotalPay = int(25)* Hours
if Hours <= 40:
    print(TotalPay)
else:
    if Hours > 40:
        OTH = (Hours - 40) 
        OTP = OTH * (Hourly * 1.5)
        print(TotalPay + (Hours - 40)* (Hourly * 1.5)) 
        # This is  wrong, but keep for reference

Total hours worked this week:50
1625.0

In [1]:
# 2. Loop Basics

#     2.1 Create an integer variable i with a value of 5. Create a while loop that runs
#     so long as i is less than or equal to 15. Each loop iteration, output the current 
#     value of i, then increment i by one.

#     Your output should look like this:

# 5
# 6
# 7
# 8
# 9
# 10
# 11
# 12
# 13
# 14
# 15

i = 5
while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

In [31]:
# 2.2 Create a while loop that will count by 2s starting with 0 and ending at 100. 
    # Follow each number with a new line.

i = 0
while i <= 100:
    print(i)
    i +=2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [34]:
# 2.3 Alter your loop to count backwards by 5's from 100 to -10

i = 100
while i >= -10:
    print(i)
    i -=5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0
-5
-10

In [14]:
# 2.4 Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000.
# Output should equal:
#  2
#  4
#  16
#  256
#  65536

i = 2
while i <= 1000000:
    print(i)
    i = i * i

2
4
16
256
65536

In [15]:
# 2.5 Write a loop that uses print to create the output shown below.
# 100
# 95
# 90
# 85
# 80
# 75
# 70
# 65
# 60
# 55
# 50
# 45
# 40
# 35
# 30
# 25
# 20
# 15
# 10
# 5


for n in range(100, 0, -5):
    print(n)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [55]:
# 3. For Loops

#     3.1 Write some code that prompts the user for a number, 
#     then shows a multiplication table up through 10 for that number.


i = 7
for n in range(i, 11):
    print(f'{i} * {n} = {n * 7}')
    i += 7

7 * 7 = 49
14 * 8 = 56
21 * 9 = 63
28 * 10 = 70

In [16]:
# 3.2 Create a for loop that uses print to create the output shown below.
# 1
# 22
# 333
# 4444
# 55555
# 666666
# 7777777
# 88888888
# 999999999

n = int(input("Number of Rows:"))
for i in range(1, n+1):
    for x in range(1, i+1):
        print(i, end="") 
    print()

Number of Rows:11
1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010
1111111111111111111111

In [18]:
#Break and Continue
# 3.3 Write a program that prompts the user for a positive integer. Next write a loop that
#prints out the numbers fromthe number the user entered down to 1.

for n in range(i, 10):
    if n % 2 ==0:
        break

In [107]:
4

4